.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============= /COMON STYLES ============= */

/* ============= HEADER STYLES ============= */

.color-logo {
  color: #2e2f42;
}

/* ============= /HEADER STYLES ============= */

/* ============= HERO SECTION STYLES ============= */
.hero-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 188px 0px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  margin: 0 auto 48px auto;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.order-button {
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}
/* ============= /HERO SECTION STYLES ============= */
/* =============  BENEFITS SECTION STYLES ============= */
.benefits-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
}

.benefits-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============= /BENEFITS SECTION STYLES ============= */

/* ============= TEAM SECTION STYLES ============= */

.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-section-title {
  margin-bottom: 72px;
}

.team-member-list {
  display: flex;
  gap: 24px;
}

.team-member-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-card {
  padding: 32px 0;
}

.team-member-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-member-description {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon {
  fill: #f4f4fd;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/* ============= /TEAM SECTION STYLES ============= */

/* ============= PORTFOLIO SECTION STYLES ============= */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.porfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-list-item:hover,
.porfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-list-item:hover .portfolio-overlay {
  transform: translateY(0%);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ============= /PORTFOLIO SECTION STYLES ============= */

/* ============= FOOTER STYLES ============= */

.page-footer {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-box {
  margin-right: 120px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-color-logo {
  color: #f4f4fd;
}

.page-footer-text {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.page-footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-media-list {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}

.footer-media-item {
  width: 40px;
  height: 40px;
}

.footer-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-subscribe-form {
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

/* .footer-form-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
} */

.footer-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 16px;
  width: 264px;
  height: 40px;
  color: #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

/* ============= /FOOTER STYLES ============= */

/* ============= MODAL WINDOWS STYLES ============= */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #e7e9fc;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #111111;
  stroke-width: 1px;
  padding: 0;
  line-height: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-slogan {
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
}

.order-form-field-wrapper {
  margin-bottom: 8px;
}

.order-form-field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.order-form-input-wrapper {
  position: relative;
}

.order-form-input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: #111111;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.order-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus + .order-form-input-icon {
  fill: #4d5ae5;
}
.order-form-comment-wrapper {
  margin-bottom: 16px;
}

.order-form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.order-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.order-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.order-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.order-form-custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-checkbox:checked
  + .order-form-checkbox-label
  > .order-form-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.order-form-checkbox:focus
  + .order-form-checkbox-label
  > .order-form-custom-checkbox {
  border-color: #4d5ae5;
}

.order-form-policy-link {
  text-decoration: underline;
  color: #4d5ae5;
}

.order-form-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-submit-btn:hover,
.order-form-submit-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
}
/* ============= /MODAL WINDOWS STYLES ============= */
